---
import Layout from "../layouts/Layout.astro";
import LinkBtn from "../components/LinkBtn.astro";
import SectionTitle from "../components/SectionTitle.astro";

---
<Layout title="Maestro Pizzero / Educación">
    <div id="info-container" class=" container mx-auto p-4 ">

      
    <SectionTitle title="Educación"/>    
<div id="educacion-content" class="bg-slate-50 p-4 rounded-md border border-cyan-600 mb-8">
<div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Secundaria - Tecnicatura</h3>
        <p class="text-sm font-bold text-slate-600 ">Esc. tec. Nº477 Combate de San Lorenzo - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">Completa </i></p>
        <p id="educacion-description" class="text-sm">Especialiación técnica "Electrónica"</p>
                <hr class="mt-2">

    </div>  
     <div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Secundaria</h3>
        <p class="text-sm font-bold text-slate-600 ">Esc. tec. Nº477 Combate de San Lorenzo - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">Completa </i></p>
        <p id="educacion-description" class="text-sm">Ciclo polimodal, modalidad "Producción de bienes y servicios"</p>
                <hr class="mt-2">

    </div>  
   <div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Primaria</h3>
        <p class="text-sm font-bold text-slate-600 ">Esc. tec. Nº113 Sargento Cabral - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">Completa </i></p>
        <p id="trabajo-description" class="text-sm"></p>
                <hr class="mt-2"> 

    </div>  
</div>  
<SectionTitle title="Idiomas"/>    
<div id="educacion-content" class="bg-slate-50 p-4 rounded-md border border-cyan-600 mb-8">
    <div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Ingles (MCER)</h3>
        <p class="text-sm font-bold text-slate-600 ">CUI (UBA - Buenos Aires) </p>
        <p class="mb-2"> <i class="text-xs text-slate-600">Nivel B1.2 intermedio/avanzado</i></p>
    
                <hr class="mt-2">

    </div>  
<div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Ingles (Técnico - Des. Software)</h3>
        <p class="text-sm font-bold text-slate-600 ">Esc. tec. Nº477 Combate de San Lorenzo - San Lorenzo / CUI (UBA - Buenos Aires) </p>
        <p class="mb-2"> <i class="text-xs text-slate-600">Competente (8) </i></p>
    
                <hr class="mt-2">

    </div>
    <div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Español</h3>
        
        <p class="mb-2"> <i class="text-xs text-slate-600">Nativo</i></p>
    
                <hr class="mt-2">

    </div>  
    </div>  
    <SectionTitle title="Otros conocimientos"/>    
<div id="educacion-content" class="bg-slate-50 p-4 rounded-md border border-cyan-600 mb-8">
<div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Programación - Desarrollo Web Full Stack</h3>
        <p class="text-sm font-bold text-slate-600">Curso Argentina Programa 4.0 - Cisco Networking Academy - LinkedIn Learning - Domestika - Sololearn - Otros.</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">En curso</i></p>
        <p id="educacion-description" class="text-sm">Frontend (Javasfcript), Backend (NodeJs), Bases de datos, Testing, Metodologías ágiles (Scrum), Cloud computing. Ciencia de Datos (Python), Java, C#.  </p>
                <hr class="mt-2">

    </div>  
<div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Marketing Digital</h3>
        <p class="text-sm font-bold text-slate-600 ">Curso de Domestika - Gabriel Perelman</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">En curso </i></p>
        <p id="educacion-description" class="text-sm">Definición de Target, Objetivos (SMART), FUNNEL (acción, canales y metricas), Desarrollo web (SEO), Redes sociales. Plan básico de acción. </p>
                <hr class="mt-2">

    </div>  
<div class="mb-4">
        <h3 id="educacion-title" class="font-bold text-cyan-600">Diseño de Interfaces Gráficas</h3>
        <p class="text-sm font-bold text-slate-600 ">Argentina Programa 4.0 - Domestika - Otros. </p>
        <p class="mb-2"> <i class="text-xs text-slate-600">En curso </i></p>
        <p id="educacion-description" class="text-sm">Diseño y desarrollo de interfaces gráficas para Web y Mobile (FIGMA), Diseño Gráfico (PS, Corel, Otros).</p>

    </div>  
    </div>  
        
        <LinkBtn title="Objetivos" link="/objetivos"/>
    </div>

</Layout>