---
import Layout from "../layouts/Layout.astro";
import LinkBtn from "../components/LinkBtn.astro";
import SectionTitle from "../components/SectionTitle.astro";


---
<Layout title="Maestro Pizzero / Experiencia Laboral">

    <div id="info-container" class=" container mx-auto p-4 ">
<SectionTitle title="Experiencia Laboral"/>    
<div id="presentacion-text" class="bg-slate-50 p-2 rounded-md border border-cyan-600 mb-8">
     <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600">Pizzero</h3>
        <p class="text-sm font-bold text-slate-600 ">BRAVISSIMO Casa de comidas - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2020 a 20</i></p>
        <p id="trabajo-description" class="text-sm">Elaboración de pizza plana (estilo neoyorkina) y al molde, con masas maduradas, cocidas en horno de barro y pizzero. Panificación variada. Productos de autoría propia. Preelaboración de ingredientes. Responsable de area. Responsable de stock, limpieza y mantenimiento.</p>
                <hr class="mt-2">

    </div> 
    <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600">Pizzero</h3>
        <p class="text-sm font-bold text-slate-600 ">MIL OCHO TRECE Cervecería Pizzería - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2018 a 2020</i></p>
        <p id="trabajo-description" class="text-sm">Elaboración de pizzas planas (estilo neoyorkina) y al molde, con masas maduradas, cocidas en horno de barro y pizzero. Panificación variada. Productos de autoría propia. Preelaboración de ingredientes. Responsable de area. Responsable de stock, limpieza y mantenimiento.</p>
                <hr class="mt-2">

    </div>
    <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600">Cocinero de plaza - Ayudante de cocina - Pizzero </h3>
        <p class="text-sm font-bold text-slate-600 ">VENNER Restobar - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2016 a 2018</i></p>
        <p id="trabajo-description" class="text-sm">Labor en función de amplio menú, desempeño en diferentes plazas, (frituras, plancha, sandwichería, pizzería), preelaboración, presentación de platos (pastas, carnes, woks), tapas y tablas. Eventualmente como Cocinero Principal, responsable de despacho, pedidos y stock. Limpieza y mantenimineto. </p>
                <hr class="mt-2">

    </div>
    <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600">Ayudante de cocina - Barra - Logística</h3>
        <p class="text-sm font-bold text-slate-600 ">DOBLE A Catering - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2014 a 2016</i></p>
        <p id="trabajo-description" class="text-sm"> Elaboración de platos para eventos, labor en cocina central, produccion de viandas para empresas, limpieza y mantenimiento.</p>
                <hr class="mt-2">

    </div>
    <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600"> Recepción - Tareas de Cocina</h3>
        <p class="text-sm font-bold text-slate-600 ">BIG BEN Hostel - Mar del Plata</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2013 a 2014</i></p>
        <p id="trabajo-description" class="text-sm"> Recepción, responsable de cocina en eventos y cafetería de hostel internacional.</p>
                <hr class="mt-2">

    </div>
    <div class="mb-4">
        <h3 id="trabajo-title" class="font-bold text-cyan-600"> Ayudante de cocina - Logística</h3>
        <p class="text-sm font-bold text-slate-600 ">SUCATA S.A. (Petrobras) - San Lorenzo</p>
        <p class="mb-2"> <i class="text-xs text-slate-600">2008 a 2011</i></p>
        <p id="trabajo-description" class="text-sm"> Ayudante de cocina, limpieza y mantenimiento, logistica en comedor de estación de servicios. </p>
        <hr class="mt-2">
    </div>
<div class="mb-4">
    <h3 id="trabajo-title" class="font-bold text-cyan-600">Mozo - Ayudante de cocina - Barra - Logística</h3>
    <p class="text-sm font-bold text-slate-600 ">GIORDANA Hnos. Catering - San Lorenzo</p>
    <p class="mb-2"> <i class="text-xs text-slate-600">2003 a 2008</i></p>
    <p id="trabajo-description" class="text-sm">Atención a comensales, tareas de barra, tareas de logística, ayudante de cocina, limpieza y mantenimiento en eventos varios. </p>
</div>



</div>    
        <LinkBtn title="Educación" link="/educacion"/>
    </div>

</Layout>