---
import Layout from "../layouts/Layout.astro";
import LinkBtn from "../components/LinkBtn.astro";


---
<Layout title="Maestro Pizzero / Galería">
    <div id="info-container" class=" container mx-auto p-4 ">
        <h1>Galería</h1>
        
        <LinkBtn title="Menú Principal" link="/"/>
    </div>

</Layout>