---
import Layout from "../layouts/Layout.astro";
import LinkBtn from "../components/LinkBtn.astro";


---
<Layout title="Maestro Pizzero / Objetivos">

    <div id="info-container" class=" container mx-auto p-4 ">

        <h1>Objetivos</h1>
        
        <LinkBtn title="Galería" link="/galeria"/>
    </div>


</Layout>


