---
import { Image } from 'astro:assets';
import mifoto from '../assets/images/foto-cv-pizzero2.png'
---

<div id="foto-perfil">
    <div id=" foto-container" class="w-8/12 mx-auto p-4">
        <Image src={mifoto} alt='Foto-perfil' class='w-full rounded-full'></Image>
    </div>
</div>