---
import { Image } from 'astro:assets';
import mifoto from '../assets/images/mi-foto.jpg'
---

<div id="foto-perfil">
    <div id="foto-container" class="container mx-auto p-4">
        <Image src={mifoto} alt='Foto-perfil' class='w-full rounded-full'></Image>
    </div>
</div>