---
interface Props {
	title: string;
    link:string
}

const { title, link } = Astro.props;
---

<a href={`/cv-pizzero/${link}`} class="min-w-[250px] bg-cyan-600 text-white  rounded-md p-4 flex justify-between items-center hover:bg-cyan-700">{title} <p class="font-bold text-lg">&gt;</p></a>