---
import LinkBtn from "./LinkBtn.astro";



---

<nav>
    <div id="nav-container" class="container mx-auto flex flex-col justify-center gap-2 p-4  ">

        <LinkBtn title="Información Personal" link="/info-personal"/>
        <LinkBtn title="Experiencia Laboral" link="/exp-laboral"/>
        <LinkBtn title="Educación" link="/educacion"/>
        <LinkBtn title="Objetivos" link="/objetivos"/>
        <LinkBtn title="Galería" link="/galeria"/>
        <!-- <a href="/info-personal">Información Personal</a>
        <a href="/exp-laboral">Experiencia Laboral</a>
        <a href="/educacion">Educación</a>
        <a href="/objetivos">Objetivos</a>
        <a href="/galeria">Galería</a> -->
    </div>
</nav>