---
import LinkBtn from "./LinkBtn.astro";



---

<nav>
    <div id="nav-container" class="container mx-auto flex flex-col justify-center gap-2 p-4  ">

        <LinkBtn title="Información Personal" link="/info-personal"/>
        <LinkBtn title="Experiencia Laboral" link="/exp-laboral"/>
        <LinkBtn title="Educación" link="/educacion"/>
        <LinkBtn title="Sobre mí" link="/about"/>
        <LinkBtn title="Galería" link="/galeria"/>
       
    </div>
</nav>