---
import SectionTitle from "./SectionTitle.astro";

---

<div id="presentacion">
    <div id="presentacion-container" class="container mx-auto p-4">
        <SectionTitle title="Presentación"/>
<div id="presentacion-text" class="bg-slate-50 p-4 rounded-md border border-cyan-600">
<p class="font-roboto">Hola, Soy Mati,</p>
    <p class="font-roboto mb-2">cocinero con 20 años en el rubro, de los cuales nueve me he dedicado exclusivamente a panificación y pizzas. </p>
    <p class="font-roboto">
Conozco en detalle la actividad, por haber realizado tareas de atención, logistica y cocina, en catering, bares y restaurantes. Mi pasion por la pizza me ha llevado a degustar en gran cantidad de pizzerías reconocidas, probar diferentes recetas y preparar productos propios para diferentes proyectos gastronomicos.
    </p>
</div>
    </div>
</div>

