---
import homesvg from '../assets/images/home-icon.svg'

import { Image } from "astro:assets"

---



<a href="/cv-pizzero" class=" bg-cyan-600  rounded-md p-4 hover:bg-cyan-700">
<Image src={homesvg} alt="home-icon" /></a>



